<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/Ncss/bootstrap.css">


<section>
  
        <% products.forEach(data=> { %>

            <div style=" display: flex; height: fit-content;   background-color: #d0e1e0; margin-top: 5px; padding: 5px;">
                <div style="display:flex; justify-content: center; align-items: center;">
                    <img style="border-radius: 8px;" height="140" width="100"
                        src="<%= data.ImagesPath%>\<%=data.mainImg%>" alt="">
                </div>
                <div style="font-size: 15%; padding:5px;">
                    <p>
                        <%= data.brandName %>, category:<%= data.category%>
                    </p>
                    
                    <p>
                        K<%= data.price%>
                    </p>
                
                    <p>
                        <strong>Date:</strong>
                        <%= data.createdAt.toString().split('GMT')[0] %>
                    </p>
                    <span style="font-size:12px;" ><a href="/admin/<%= data._id%>">update</a></span>
                    <span><form action="/admin/delete/<%= data._id%>" method="post">
                        <input type="hidden" name="id" value="<%= data._id%>">
                        <input type="submit" class="btn" value="delete" id="submit" />
                    </form>
                </span>
                    
                </div>



            </div>

            <% }) %>

</section>

<style>

</style>

<script src="/Njs/bootstrap.js"></script>
<script src="/js/script.js"></script>