<link rel="stylesheet" href="/css/style.css" />

<h2 class="adminHeader">Pending Orders</h2>

<div class="orderOptions">
    <button id="viewPending"><h3>Pending</h3></button>
    <button id="viewProcessed"><h3>Processed</h3></button>
</div>

<section class="orderList pending active">
    <% customOrders.forEach(order => { %>
        <div class="orderItem">
          <div>
            <span class="contentSection">
              <h5>Name: <%= order.name %></h5>
              <h5>Email: <%= order.email %></h5>
              <h5>Phone: <%= order.Pnumber %></h5>
              <h5>Date: <%= order.requestedAt.toLocaleString(); %></h5>
            </span>
            <span class="buttonSection">
              <button class="markRead">Mark Read</button>
              <button class="delete">Delete</button>
            </span>
          </div>
        </div>
      <% }); %>
</section>

<section class="orderList processed">
    <% customOrders.forEach(order => { %>
        <div class="orderItem">
          <div>
            <span class="contentSection">
              <h5>Name: <%= order.name %></h5>
              <h5>Email: <%= order.email %></h5>
              <h5>Phone: <%= order.Pnumber %></h5>
              <h5>Date: <%= order.requestedAt.toLocaleString(); %></h5>
            </span>
            <span class="buttonSection">
              <button class="markRead">Mark Read</button>
              <button class="delete">Delete</button>
            </span>
          </div>
        </div>
      <% }); %>
</section>

<script>
    
    const switchButtons = document.querySelectorAll('.orderOptions button')
    const sections = document.querySelectorAll('section')
    const adminHeader = document.querySelector('.adminHeader')
    switchButtons.forEach(button=>{
        button.addEventListener('click',()=>{
            sections.forEach(section=>{
                section.classList.toggle('active');
            })
            if(button.innerText == 'Processed'){
                adminHeader.innerText = 'Processed Orders'
            }else{
                adminHeader.innerText = 'Pending Orders'
            }
            
        })
    })
</script>