<!-- <link rel="stylesheet" href="/css/style.css" /> -->

<h2 class="adminHeader">Orders</h2>

<div class="button-section">
  <button id="pending-btn" class="active" onclick="toggleButton('pending-btn')">
    Pending
  </button>
  <button id="processed-btn" onclick="toggleButton('processed-btn')">
    Processed
  </button>
</div>

<section class="orderList pending active" id="pending-btn">
  <% purchaseOrders?.forEach(order => { %> <% if(order.isRead == false &&
  order.isDeleted == false){ %>
  <div class="orderItem" id="<%= order._id %>">
    <div>
      <span class="contentSection">
        <h5>Name: <%= order.name %></h5>
        <!-- <h5>Email: <%= order.email %></h5> -->
        <h5>Phone: <%= order.Pnumber %></h5>
        <h5>Date: <%= order.purchasedAt.toLocaleString(); %></h5>
      </span>
      <form class="buttonSection" id="<%= order._id %>">
        <button class="markRead">Mark Read</button>
        <button class="delete">Delete</button>
      </form>
    </div>
  </div>
  <% } %> <% }) %>
</section>

<section class="orderList processed" id="processed-btn">
  <% purchaseOrders?.forEach(order => { %> <% if(order.isRead == true &&
  order.isDeleted == false){ %>
  <div class="orderItem" id="<%= order._id %>">
    <div>
      <span class="contentSection">
        <h5>Name: <%= order.name %></h5>
        <!-- <h5>Email: <%= order.email %></h5> -->
        <h5>Phone: <%= order.Pnumber %></h5>
        <h5>Date: <%= order.purchasedAt.toLocaleString(); %></h5>
      </span>
      <form class="buttonSection" id="<%= order._id %>">
        <button class="markRead">Mark Unread</button>
        <button class="delete">Delete</button>
      </form>
    </div>
  </div>
  <% } %> <% })%>
</section>

<section class="orderList deleted" id="deleted-btn">
  <% purchaseOrders.forEach(order => { %> <% if(order.isDeleted == true){ %>
  <div class="orderItem" id="<%= order._id %>">
    <div>
      <span class="contentSection">
        <h5>Name: <%= order.name %></h5>
        <!-- <h5>Email: <%= order.email %></h5> -->
        <h5>Phone: <%= order.Pnumber %></h5>
        <h5>Date: <%= order.purchasedAt.toLocaleString(); %></h5>
      </span>
      <form class="buttonSection" id="<%= order._id %>">
        <button class="restore">Undo delete</button>
        <button class="erase">Erase</button>
      </form>
    </div>
  </div>
  <% } %> <% }); %>
</section>

<div class="trashContainer">
  <button id="deleted-btn" onclick="toggleButton('deleted-btn')">
    <i class="fa fa-trash"></i>
  </button>
</div>

<script defer>
  const switchButtons = document.querySelectorAll(".orderOptions button");
  const sections = document.querySelectorAll("section");
  const adminHeader = document.querySelector(".adminHeader");

  const forms = document.querySelectorAll(".buttonSection");
  const markReadButtons = document.querySelectorAll(".markRead");
  const deleteButtons = document.querySelectorAll(".delete");
  const eraseButtons = document.querySelectorAll('.erase')
  deleteButtons.forEach((deleteButton) => {
    deleteButton.addEventListener("click", () => {
      forms.forEach((form) => {
        if (form.id == deleteButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/delete`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });

  markReadButtons.forEach((markReadButton) => {
    markReadButton.addEventListener("click", () => {
      const state = markReadButton.innerText =='Mark Read'?"read":"unread"
      forms.forEach((form) => {
        if (form.id == markReadButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/${state}`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });

  eraseButtons.forEach((eraseButton) => {
    eraseButton.addEventListener("click", () => {

      forms.forEach((form) => {
        if (form.id == eraseButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/erase`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });


  document.querySelectorAll('.restore').forEach((eraseButton) => {
    eraseButton.addEventListener("click", () => {
      const state = eraseButton.innerText =='Mark Read'?"read":"unread"
      forms.forEach((form) => {
        if (form.id == eraseButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/restore`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });

  const orderItems = document.querySelectorAll('.orderItem')

  orderItems.forEach(orderItem=>{
    orderItem.addEventListener('click', async()=>{
      screen.classList.add('open')
      const options = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            id:orderItem.id
        })
    }
    const res = await fetch(`/purchaseOrder/${orderItem.id}`, options);
    const data = await res.json()
    console.log(data.name)
        // Update the HTML with the detailed message information
        const messageDetails = `
        <br>
        <h4>Name: ${data.name}</h4>
          <br>
          <h4>Number: ${data.Pnumber}</h4>
          <br>
          <h4>Email: ${data.email}</h4>
          <br>
          <h4>Cart: ${data.cart}</h4>
          <br>
          <h4>Date: ${data.purchasedAt.toLocaleString()}</h4>
          <br>
    
        `;
        
        document.querySelector('.screen .content section').innerHTML = messageDetails;

    })
  })




  function toggleButton(id) {
    var activeBtn = document.querySelector("button.active");
    activeBtn.classList.remove("active");

    document.querySelector(`button#${id}`).classList.add("active");

    sections.forEach((section) => {
      section.classList.remove("active");
    });

    document.querySelector(`section#${id}`).classList.add("active");

  }
</script>
