<script>
  let pendingCount
  let deletedCount
  let processedCount
</script>
<h2 class="adminHeader">Orders</h2>

<div class="button-section">
  <button id="pending-btn" class="active" onclick="toggleButton('pending-btn')">
    Pending
    <div class="totalOrders" id="pendingOnes">0</div>
  </button>
  <button id="processed-btn" onclick="toggleButton('processed-btn')">
    Processed
    <div class="totalOrders" id="processedOnes">0</div>
  </button>
</div>

<div class="trashContainer">
  <button id="deleted-btn" onclick="toggleButton('deleted-btn')">
    <div class="totalOrders" id="deletedOnes">0</div>
    <i class="fa fa-trash"></i>
  </button>
</div>

<section class="orderList pending active" id="pending-btn">
  <% purchaseOrders?.forEach(order => { %> <% if(order.isRead == false &&
  order.isDeleted == false){ %>
    <script>
        pendingCount = document.querySelector('.totalOrders#pendingOnes');
      pendingCount.innerHTML = parseInt(pendingCount.innerHTML)+1
    </script>
  
  <div class="orderItem" id="<%= order._id %>">
    <div>
      <span class="contentSection">
        <h5>Name: <%= order.name %></h5>
        <!-- <h5>Email: <%= order.email %></h5> -->
        <h5>Phone: <%= order.Pnumber %></h5>
        <h5>Date: <%= order.purchasedAt.toLocaleString(); %></h5>
      </span>
      <form class="buttonSection" id="<%= order._id %>">
        <button class="markRead">Mark Read</button>
        <button class="delete">Delete</button>
      </form>
    </div>
  </div>
  <% } %> <% }) %>
</section>

<section class="orderList processed" id="processed-btn">
  <% purchaseOrders?.forEach(order => { %> <% if(order.isRead == true &&
  order.isDeleted == false){ %>
    <script>
      processedCount = document.querySelector('.totalOrders#processedOnes');
    processedCount.innerHTML = parseInt(processedCount.innerHTML)+1
  </script>
  <div class="orderItem" id="<%= order._id %>">
    <div>
      <span class="contentSection">
        <h5>Name: <%= order.name %></h5>
        <!-- <h5>Email: <%= order.email %></h5> -->
        <h5>Phone: <%= order.Pnumber %></h5>
        <h5>Date: <%= order.purchasedAt.toLocaleString(); %></h5>
      </span>
      <form class="buttonSection" id="<%= order._id %>">
        <button class="markRead">Mark Unread</button>
        <button class="delete">Delete</button>
      </form>
    </div>
  </div>
  <% } %> <% })%>
</section>

<section class="orderList deleted" id="deleted-btn">
  <% purchaseOrders.forEach(order => { %> <% if(order.isDeleted == true){ %>
   
   <script>
          deletedCount = document.querySelector('.totalOrders#deletedOnes');
    deletedCount.innerHTML = parseInt(deletedCount.innerHTML)+1
  </script>
  
    <div class="orderItem" id="<%= order._id %>">
    <div>
      <span class="contentSection">
        <h5>Name: <%= order.name %></h5>
        <!-- <h5>Email: <%= order.email %></h5> -->
        <h5>Phone: <%= order.Pnumber %></h5>
        <h5>Date: <%= order.purchasedAt.toLocaleString(); %></h5>
      </span>
      <form class="buttonSection" id="<%= order._id %>">
        <button class="restore">Undo delete</button>
        <button class="erase">Erase</button>
      </form>
    </div>
  </div>
  <% } %> <% }); %>
</section>



<script defer>
  const switchButtons = document.querySelectorAll(".orderOptions button");
  const sections = document.querySelectorAll("section");
  const adminHeader = document.querySelector(".adminHeader");

  const forms = document.querySelectorAll(".buttonSection");
  const markReadButtons = document.querySelectorAll(".markRead");
  const deleteButtons = document.querySelectorAll(".delete");
  const eraseButtons = document.querySelectorAll(".erase");

  deleteButtons.forEach((deleteButton) => {
    deleteButton.addEventListener("click", () => {
      forms.forEach((form) => {
        if (form.id == deleteButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/delete`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });

  markReadButtons.forEach((markReadButton) => {
    markReadButton.addEventListener("click", () => {
      const state = markReadButton.innerText == "Mark Read" ? "read" : "unread";
      forms.forEach((form) => {
        if (form.id == markReadButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/${state}`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });

  eraseButtons.forEach((eraseButton) => {
    eraseButton.addEventListener("click", () => {
      forms.forEach((form) => {
        if (form.id == eraseButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/erase`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });

  document.querySelectorAll(".restore").forEach((eraseButton) => {
    eraseButton.addEventListener("click", () => {
      const state = eraseButton.innerText == "Mark Read" ? "read" : "unread";
      forms.forEach((form) => {
        if (form.id == eraseButton.parentElement.id) {
          form.action = `/admin/updatePurchaseOrder/${form.id}/restore`;
          form.method = "post";
          form.submit();
        }
      });
    });
  });

  const orderItems = document.querySelectorAll(".orderItem");

  orderItems.forEach((orderItem) => {
    orderItem.firstElementChild.firstElementChild.addEventListener(
      "click",
      async () => {
        screen.classList.add("open");
        const options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            id: orderItem.id,
          }),
        };
   
        const res = await fetch(`/purchaseOrder/${orderItem.id}`, options);

        const data = await res.json();
        // console.log(data)
        let currCart = data.orderData;
        console.log(currCart);
        let cartString = "";
        currCart.forEach((data) => {
          cartString += `<span class="orderItemContainer">
        <div>x${data.quantity} ${data.itemName} K${data.itemPrice} custom text:"${data.data.text}"</div>
      <img class="customerUploadImage" src="/uploads/purchaseImages/${data.data.imagePath}" alt="null" />
      <span class="confirmOrderAdmin" id="${data.itemId}">${data.qtyUpdated?"stock updated":`<div id="${data.quantity}">confirm</div><div style="color:red;">stock-${data.quantity}</div>`}</span>
      </span>
      <hr>`;
        });

        console.log(cartString);

        const messageDetails = `
        <br>
        <br>
        <h4>Name: ${data.name}</h4>
          <br>
          <h5>Number: ${data.Pnumber}</h5>
          <br>
          <h5>Email:</h5><h5>${data.email}</h5>
          <br>
          <h5>Transaction-Id:${data.transactionId}<h5/>
          <h5>Delivery Type:${data.deliveryType}<h5/>
          
            <br>
          <h3>Cart<h3/>
          ${cartString}
          <h5>Total: K${data.cartTotal}<h5/>
          <h5>Payment Type:${data.paymentType}<h5/>
            <div id="confirmStockUpdate">Confirm Stock Changes<div/>
            <hr>
          <br>
          <h4>Date: ${data.purchasedAt}</h4>
          <br>

       `;
        document.querySelector(".screen .content section").innerHTML =
          messageDetails;

          
        // Update the HTML with the detailed message information
        resetListener();
      }
    );
  });

  function toggleButton(id) {
    var activeBtn = document.querySelector("button.active");
    activeBtn.classList.remove("active");

    document.querySelector(`button#${id}`).classList.add("active");

    sections.forEach((section) => {
      section.classList.remove("active");
    });

    document.querySelector(`section#${id}`).classList.add("active");
  }

  async function resetListener() {
    const updateStockbuttons = document.querySelectorAll(".confirmOrderAdmin");
    updateStockbuttons.forEach((button) => {
      button.addEventListener("click", async () => {
        console.log(button)

     
              const buttonId = button.id;
              const quantity = button.firstElementChild.id;
            
        if (button.innerHTML != "stock updated") {
          console.log(button.id);
          const options = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          };

          const res = await fetch(`/admin/updateQty/${buttonId}/${quantity}/minus`, options);
          const data = await res.json();
          console.log(data);
          
          button.innerHTML = "stock updated";
        }else{
          console.log(button.id);
          const options = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          };

          const res = await fetch(`/admin/updateQty/${buttonId}/${quantity}/add`, options);
          const data = await res.json();
          console.log(data);
        }

      });
    });

    document.querySelector('#confirmStockUpdate').
    addEventListener('click', async  ()=>{
      if (button.innerHTML != "stock updated") {
          console.log(button.id);
          const options = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          };

          const res = await fetch(`/admin/updateQty/${buttonId}/${quantity}`, options);
          const data = await res.json();
          console.log(data);
          
          button.innerHTML = "stock updated";
        }

    })


  }
</script>
