
<section class="custom">
  <div class="cusOverlay"></div>
  <div class="selectedItem">
    <span class="closeModal"> &times; </span>
    <form action="/custom" enctype="multipart/form-data" method="post">
      <!-- <hr> -->
      <div class="inputIMGbox">
        <h3>custom <span id="cartItem"> </span></h3>
        <div class="formImg"></div>
        <label for="images"> upload sample images (Optional) </label>
        <input id="uploadfiles" type="file" name="images" multiple />
      </div>
      <!-- <hr> -->
      <br />
      <div class="orderQty">
        <input
          type="number"
          min="1"
          max="501"
          name="quantity"
          id="quantity"
          placeholder="qty"
          required
        />
        <span>
          <div id="cartMinus">-</div>
          <div>|</div>
          <div id="cartPlus">+</div>
        </span>
      </div>
      <div class="inputbox">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="enter  name"
          required
        />
      </div>
      <div class="inputbox">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email"
          required
        />
      </div>
      <div class="inputbox">
        <input
          type="number"
          name="Pnumber"
          id="Pnumber"
          placeholder="phone number"
          required
        />
      </div>
      <div class="inputbox">
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="5"
          placeholder="(Optional) any descriptions on your custom item"
        ></textarea>
      </div>
      <input type="submit" class="btn" value="Send" id="submit" />
      <div class="cusHiddenContent"></div>
      <p>
        <i>to talk to custom designer directly:</i>
        <span>call: <strong>696968965</strong></span>
        <span>whatsApp: <strong>985584759</strong></span>
      </p>
    </form>
  </div>

  <div class="items">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
          src="https://legendary-shield-uploads.s3.ap-south-1.amazonaws.com/uploads/<%=customItems[0].mainImg%>"
            class="d-block w-100"
            alt="..."
          />
          <div class="imgText">
            <p>custom <%=customItems[0].customType%></p>
          </div>
        </div>

        <% customItems.forEach(customItem=>{%>
  
          <div class="carousel-item">
            <img
            src="https://legendary-shield-uploads.s3.ap-south-1.amazonaws.com/uploads/<%=customItem.mainImg%>"
              class="d-block w-100"
              alt="..."
            />
            <div class="imgText">
              <p>custom <%=customItem.customType%></p>
            </div>
          </div>
   
          <%})%>

      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <hr />
    <div class="customText">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate
        quod quasi maxime minus voluptatem accusantium et quis ea id unde,
        praesentium non alias quos, cumque quidem obcaecati adipisci a!
      </p>
    </div>
    <hr />

    <div class="customItems">
      <ul>
        <% customItems.forEach(customItem=>{%>
  
        <li id="customCart">
          <a
            href="/custom/<%=customItem.customType%>"
            style="text-decoration: none"
          >
          <img src="https://legendary-shield-uploads.s3.ap-south-1.amazonaws.com/uploads/<%=customItem.mainImg%>" alt="<%=customItem.category%>">
          <span id="customPrice"> K<%=customItem.price%></span>
            <span><%=customItem.brandName%></span>
            <p><%=data.customType%></p>
          </a>
        </li>
        
        <%})%>
      </ul>
    </div>
    
  </div>

</section>

<script>
  let customCart = document.querySelectorAll("#customCart");
  let selectedItem = document.querySelector(".selectedItem");
  let cartItem = document.getElementById("cartItem");
  let cusOverlay = document.querySelector(".cusOverlay");
  let formImg = document.querySelector(".formImg");
  let cusHiddenContent = document.querySelector(".cusHiddenContent");
  let closeModal = document.querySelector(".closeModal");
  let customAllItems = document.querySelector(".customItems ul");

  const cartObserver = new IntersectionObserver(entries => {
    entries.forEach(entry =>{
      entry.target.classList.toggle("show",entry.isIntersecting)
    })
  })

  customCart.forEach((value) => {
    cartObserver.observe(value);
    value.addEventListener("click", (e) => {
      let clickedItem = e.target.className;
      let imgSrc = e.target.src;
      console.log(e.target.src);
      if (clickedItem) {
        cartItem.textContent = `${clickedItem}`;
        formImg.innerHTML = `<img src="${imgSrc}" alt="${clickedItem}">`;
        cusHiddenContent.innerHTML = `<input type="text"  name="ImgLink" value="${imgSrc}" hidden />`;
        cusOverlay.classList.add("active");
        selectedItem.classList.add("active");
      }
    });
  });
  cusOverlay.addEventListener("click", (e) => {
    cusOverlay.classList.remove("active");
    selectedItem.classList.remove("active");
  });
  closeModal.addEventListener("click", () => {
    cusOverlay.classList.remove("active");
    selectedItem.classList.remove("active");
  });

  const cartPlus = document.getElementById("cartPlus");
  const cartMinus = document.getElementById("cartMinus");
  const cartQty = document.getElementById("quantity");

  cartPlus.addEventListener("click", () => {
    if (cartQty.value) {
      cartQty.value = parseInt(cartQty.value) + 1;
    } else {
      cartQty.value = 1;
    }
  });

  cartMinus.addEventListener("click", () => {
    if (cartQty.value > 1) {
      cartQty.value = parseInt(cartQty.value) - 1;
    }
  });
</script>
