<section class="specificCustom">

  <div
    id="carouselExampleControls"
    class="carousel slide mt-4"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="startLoader"></div>
        <img
          src="https://legendaryshield.s3.ap-south-1.amazonaws.com/uploads/<%=product.mainImg%>"
          class="d-block w-100"
          alt="..."
          loading="lazy"
          onload="removePreviousLoader(this)"
        />
        <!-- <img src="images/img10.png"  alt="..."> -->
      </div>
  
      <% for( let i=0; i < product.images.length; i++ ) { %>
      <div class="carousel-item active">
        <img
          src="https://legendaryshield.s3.ap-south-1.amazonaws.com/uploads/<%=product.images[i]%>"
          class="d-block w-100"
          alt="..."
          loading="lazy"
        />
      </div>
      <% } %>
    </div>
  
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="productDetails">
    <div class="productDetails">
      <div class="brandName">
        <h2><%=product.brandName%></h2>
        <span><%=product.category%></span>
      </div>
      <div class="price">
        <h3><strong>K <%=product.price %></strong></h3>
      </div>
      <div>
        <p><strong>Available:</strong> <%=product.quantity%></p>
        <% if (product.type == 'promo') { %>
        <p>was <span id="prePrice"> K<%= product.oldPrice %></span></p>
        <p>
          save up to
          <span id="newPrice"
            ><%= (((product.oldPrice -
            product.price)/product.oldPrice)*100).toFixed(0) %>%</span
          >
        </p>
        <% } %>
      </div>
      <div id="productDescription">
        <p>
          <%=product.description%>
        </p>
      </div>
      
      <hr />
      <ul>
      
        <li>
          <i>
            <span id="textPreview">Dispatch will be within 24 hours and delivery takes 2-4 working days</span>.
            </i
          >
        </li>
        <li>
          <i
            >
            <span id="textPreview">Orders with atmost urgency will be an exception</span>(Please communicate urgency upon ordering via email).</i
          >
        </li>
      </ul>
      <hr />
      <div class="buttons">
        <div class="cartBtn" id="<%=product._id%>">
          <span>Add to cart</span>
        </div>
        <div id="buyBtn" id="<%=product._id%>">
          <span>
            <a style="color: rgb(0, 0, 0); text-decoration: none" href="/cart"
              >Buy it now</a
            >
          </span>
        </div>
       
      </div>
  
      

    </div>
    <input
      type="hidden"
      value="<%=product.brandName%>, <%=product.category%>"
      id="itemName"
    />
    <input
      type="hidden"
      value="<%= product.ImagesPath%>\<%=product.mainImg%>"
      id="itemImages"
    />
    <input type="hidden" value="<%=product.price%>" id="itemPrice" />
    <input type="hidden" value="<%=product._id%>" id="itemId">
  </div>
  
</section>

<script>
  const itemName = document.getElementById("itemName").value;
  const itemImage = document.getElementById("itemImages").value;
  const itemPrice = document.getElementById("itemPrice").value;
  const itemId = document.getElementById("itemId").value;
  //console.log(itemName+itemPrice+itemImage)
  const cartData = JSON.stringify({
    itemName,
    itemPrice,
    itemImage,
    quantity: 1,
    itemId,
    productType:'regular',
    data: { imagePath: "" },
  });

  console.log();
  const buyButton = document.querySelector("#buyBtn");

  const addToCartButton = document.querySelector(".cartBtn");

  let currCart = localStorage.getItem("cartList");

  buyButton.addEventListener("click", () => {
    if (addToCartButton.innerText != "Added") {
      addToCartButton.innerText = "Added";
      if (localStorage.getItem("cartList") != null) {
        localStorage.setItem(
          "cartList",
          localStorage.getItem("cartList") + `${cartData}+`
        );
      } else {
        localStorage.setItem("cartList", `${cartData}+`);
      }
    }
  });

  if (currCart && currCart.includes(cartData)) {
    addToCartButton.innerText = "Added";
  }

  addToCartButton.addEventListener("click", () => {
    if (addToCartButton.innerText == "Added") {
      addToCartButton.innerText = "Add To Cart";
      const oldCart = localStorage.getItem("cartList");
      const newCart = oldCart.replace(`${cartData}+`, "");
      localStorage.setItem("cartList", newCart);
      document.getElementById("cartCounter").innerText =
        localStorage.getItem("cartList").split("+").length - 1;
    } else {
      if (localStorage.getItem("cartList") != null) {
        localStorage.setItem(
          "cartList",
          localStorage.getItem("cartList") + `${cartData}+`
        );
      } else {
        localStorage.setItem("cartList", `${cartData}+`);
      }
      addToCartButton.innerText = "Added";
      document.getElementById("cartCounter").innerText =
        localStorage.getItem("cartList").split("+").length - 1;
    }

    // console.log(addToCartButton.id)
    // console.log(localStorage)
  });
</script>
