<style>
  .buyMessage {
    margin: 1%;
    right: 5%;
    padding: 2%;
    width: 80vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: aquamarine;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 0.05px;
  }
  .buyMessage input {
    border: 1px solid black;
    margin: 3%;
    border-radius: 10px;
    padding: 2% 5%;
  }
  .buyMessage .closeBuyMessage {
    font-weight: bold;
    font-size: larger;
    color: red;
  }
  .productDetails {
    padding: 5%;
    margin-top: 5%;
    margin: 0% 5%;
  }

  .brandName {
    grid-area: brandName;
  }
  .brandName p {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .buttons div:first-child {
    background-color: rgb(58, 58, 237);
    color: #fff;
  }

  .buttons div {
    text-transform: capitalize;
    margin: 5px 0px;
    background-color: #fff;
    padding: 5%;
    border-radius: 30px;
    text-align: center;
    border: 1px solid rgb(58, 58, 237);
    color: black;
    cursor: pointer;
  }
  .buttons div span {
    width: 100%;
    font-size: large;
    font-weight: 500;
  }
  .closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #carouselExampleControls img {
    height: 60vh;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 30%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
</style>

<div
  id="carouselExampleControls"
  class="carousel slide mt-4"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="<%= product.ImagesPath%>\<%=product.mainImg%>"
        class="d-block w-100"
        alt="..."
      />
      <!-- <img src="images/img10.png"  alt="..."> -->
    </div>

    <% for( let i=0; i < product.images.length; i++ ) { %>
    <div class="carousel-item active">
      <img
        src="<%= product.ImagesPath%>\<%=product.images[i]%>"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <% } %>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="productDetails">
  <div class="productDetails">
    <div class="brandName">
      <h2><%=product.category %>, <i><%=product.brandName %></i></h2>
    </div>
    <div>
      <p><strong>Available:</strong> <%=product.quantity%></p>
    </div>
    <div class="price">
      <h3><strong>K <%=product.price %></strong></h3>
    </div>

    <hr />
    <div class="buttons">
      <div id="buyBtn">
        <span>
          <a style="color: white; text-decoration: none" href="/cart">Buy it now</a>
        </span>
      </div>
      <div class="cartBtn" id="<%=product._id%>">
        <span>Add to cart</span>
      </div>
    </div>

    <hr />
    <p>
      <i
        ><strong>Description:</strong>
        <%=product.description %>
      </i>
    </p>
    <p>
      <strong>Date uploaded:</strong>
      <%= product.createdAt.toString().split('GMT')[0]%>
    </p>
  </div>
</section>

<script>
  const buyButton = document.querySelector("#buyBtn");
  const buyModal = document.querySelector(".buyModal");
  const addToCartButton = document.querySelector(".cartBtn");

  let currCart = localStorage.getItem("cartList");

  buyButton.addEventListener("click", () => {
    if (!currCart.includes(addToCartButton.id)) {
      addToCartButton.innerText = "Added";
      if (localStorage.getItem("cartList") != null) {
        localStorage.setItem(
          "cartList",
          localStorage.getItem("cartList") + `${addToCartButton.id},`
        );
      } else {
        localStorage.setItem("cartList", `${addToCartButton.id},`);
      }
    }
  });

  if (currCart && currCart.includes(addToCartButton.id)) {
    addToCartButton.innerText = "Added";
  }

  addToCartButton.addEventListener("click", () => {
    if (addToCartButton.innerText == "Added") {
      addToCartButton.innerText = "Add To Cart";
      const oldCart = localStorage.getItem("cartList");
      const newCart = oldCart.replace(`${addToCartButton.id},`, "");
      localStorage.setItem("cartList", newCart);
      document.getElementById("cartCounter").innerText =
        localStorage.getItem("cartList").split(",").length - 1;
    } else {
      if (localStorage.getItem("cartList") != null) {
        localStorage.setItem(
          "cartList",
          localStorage.getItem("cartList") + `${addToCartButton.id},`
        );
      } else {
        localStorage.setItem("cartList", `${addToCartButton.id},`);
      }
      addToCartButton.innerText = "Added";
      document.getElementById("cartCounter").innerText =
        localStorage.getItem("cartList").split(",").length - 1;
    }

    // console.log(addToCartButton.id)
    // console.log(localStorage)
  });
</script>
