
<section  class="custom">
   
    <div class="items">
        <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
          src="https://legendaryshield.s3.ap-south-1.amazonaws.com/uploads/<%=products[0].mainImg%>"
            class="d-block w-100"
            alt="..."
          />
          <div class="imgText">
            <p><%=products[0].brandName%></p>
          </div>
        </div>

        <% products.forEach(customItem=>{%>
  
          <div class="carousel-item">
            <img
            src="https://legendaryshield.s3.ap-south-1.amazonaws.com/uploads/<%=customItem.mainImg%>"
              class="d-block w-100"
              alt="..."
            />
            <div class="imgText">
                <p><%=customItem.brandName%></p>
            </div>
          </div>
   
          <%})%>

      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
        
            <hr />
            <div class="customText">
              <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate
                quod quasi maxime minus voluptatem accusantium et quis ea id unde,
                praesentium non alias quos, cumque quidem obcaecati adipisci a!
              </p> -->
            </div>
            <hr />

            <div class="customItems">
                <ul>
                  <% products.forEach(data=>{%>
            
                  <li id="customCart">
                    <a
                      href="/store/item/<%=data._id%>"
                      style="text-decoration: none"
                    >
                    <img src="https://legendary-shield-uploads.s3.ap-south-1.amazonaws.com/uploads/<%=data.mainImg%>" alt="<%=data.category%>">
                    <span id="customPrice"> K<%=data.price%></span>
                    <span><%=data.brandName%></span>  
                   </a>
                  </li>
                  
                  <%})%>
                </ul>
              </div>
    </div>



</section>

<script>
  let customCart = document.querySelectorAll("#customCart");
     
      const proObserver = new IntersectionObserver(entries => {
        entries.forEach(entry =>{
          entry.target.classList.toggle("show",entry.isIntersecting)
        })
      })

      customCart.forEach(element=>{
          proObserver.observe(element)
       })
</script>
