  <style>
    .about{
        padding: 2% 10%;
    }
    .top{
      padding-top: 20%;
    }
    .top h2, .middle h3{
      text-align: center;
    }
    .middle ul{
        padding-left: 80%;
    }
    .middle ul li{
       list-style: none;
       text-indent: 5px;
    }
    .woodworkAd{
      padding: 5%;
    }
    .woodworkAd h2, .woodworkAd p{
      text-align: center;
    }
    
</style>
   
   <section id="hero" >        
        <div id="carouselExampleControls" class=" carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/img10.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Carry Your Personality with Our Keychains.</p>
                </div>
              </div>
              
              <div class="carousel-item">
                <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/img2.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Transform your neckline with our stunning neck chains & necklaces.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/img3.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> Find Your Perfect Fit with Our Sleek Neck Chains.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/img6.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> Unleash Your Inner Glam with Our Stunning Rings.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/img9.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Timeless Style at Your Wrist with Our Watches</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/img5.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> Elevate Your Look with Our Elegant Necklaces.</p>
                </div>
              </div>
            </div>
            <!-- <span id="viewBtn">
                view more
            </span> -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden" >Previous</span>
              <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>              
            </button>
          </div>
    </section>
    
        <!-- Feature Section -->

    <section id="craftMen">
       <div id="craftMenContent">
          <h2>The CraftMen' Hub</h2>
          
          <p>Our products are specially designed by us to provide you with one-of-a-kind items that you won't find anywhere else.</p> 
            <p>From stunning jewelry to stylish accessories and more.</p>
          <!-- <button class="viewBtn">show all</button> -->
       </div>
       <% if(products.length != 0) { %> 
       
          <div class="craftAds">
            <h2>Promomotions</h2>
          </div>
        <div id="craftMenItems">

        <% products?.forEach(data=> { %>
          <a href="/store/item/<%=data._id%>">
            <div class="item">
              <div class="itemImg">
                 <img width="200" src="<%= data.ImagesPath%>\<%=data.mainImg%>" alt="Promo Image">
                 <div class="itemImgText">
                   <span id="newPrice">save <%= (((data.oldPrice - data.price)/data.oldPrice)*100).toFixed(0) %>%</span>
                   <p><%= data.brandName %></p>
                  </div>
              </div>
              <div class="itemDetails">
                 <p>from <span id="prePrice"> K<%= data.oldPrice %></span></p>
                 <span id="newPrice">to K<%= data.price %></span>
              </div>
           </div>
          </a>
         <% }) %>

          
       <% } %>
    </section>
    
    

    <section class="productsAd">
       <!------------------------ jewery section --------------------->
    <% if(jeweryCollection?.length != 0) { %>
      <div id="product1" class="section-p1">
        <h2>The Jewelry Collection</h2>
        <p>Discover our exquisite jewelry collection, crafted with passion and designed to make you shine.</p>
        <div class="pro-container">
           <!-- ///////////product 4///////////// -->
           <% jeweryCollection?.forEach(jewery => { %>
            <div class="pro">
              <a id="linkTag" id="linkTag" href="/store/item/<%=jewery._id%>">
                <img src="<%= jewery.ImagesPath%>\<%=jewery.mainImg%>" alt="<%=jewery.category%>">
                <div class="des">
                    <span><%=jewery.brandName%></span>
                    <h5><%=jewery.category%></h5>
                    <span>from K<%=jewery.price%></span>
                </div>
                <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
           </div>
           <% }) %>
           
           
        </div>
        <!-- <button class="viewBtn">view more</button> -->
      </div>
    <% } %>
    
    <!------------------------ watch section --------------------->

    <% if(watchCollection?.length != 0) { %>
        <div id="product1" class="section-p1">
            <h2>The Wrist watch Collection</h2>
            <p>Timeless Elegance, Discover Our Wrist Watch Collection</p>
            <div class="pro-container">
               <!-- ///////////product 1///////////// -->

               <% watchCollection?.forEach(watch => { %>
                
                <div class="pro">
                   <a id="linkTag" id="linkTag" href="/store/item/<%=watch._id%>">
                     <img src="<%= watch.ImagesPath%>\<%=watch.mainImg%>" alt="<%=watch.category%>">
                     <div class="des">
                         <span><%=watch.brandName%></span>
                         <h5><%=watch.category%></h5>
                         <span>from K<%=watch.price%></span>
                     </div>
                     <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                   </a>
                </div>

               <% }) %>

            </div>
            <!-- <button class="viewBtn">view more</button> -->
        </div>
    <% } %>
    <!------------------------ custom section --------------------->
       
    <div id="product1" class="section-p1">

      <h2>The Custom Collection</h2>
      <p>Our Custom Collection offers a unique opportunity to create your own personalized jewelry pieces. </p>
      <div class="pro-container">

    <%if(customItems.length>1){%>
      <% for( let index = 0; index < 4; index++ ) { %>
        <div class="pro">
          <a id="linkTag" href="/custom/<%=customItems[index].customName %>">
            <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/customImages/<%=customItems[index].imgLink%>" alt="<%=customItems[index].customName %>">
              <div class="des">
              <span><%=customItems[index].customName %></span>
              <h5><%=customItems[index].details %></h5>
              <span>from K<%=customItems[index].price %></span>
          </div>
          <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
          </a>
      </div>
      <% } %>
      <% } %>
       <div class="moreButton">
          <a href="/custom">
            <span>more</span>
            <i style="color: black; margin-left: 10px;" class="fa fa-chevron-right"></i>
        </a>
       </div>
      </div>
    </div>
    <br>

    <!------------------------ woodwork section --------------------->
    
    <hr>
    <div class="woodworkAd">
      <h2>Woodwork</h2>
     <p> Let your imagination run wild as we work with you to bring your vision to life.</p>
     </div>
    <div id="carouselExampleControls" class=" carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/customImg.png"   class="d-block w-100" alt="...">
        </div>
        <% woodItems.forEach(image => { %>
          <div class="carousel-item">
            <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/woodwork/<%=image.imgLink%>" class="d-block w-100" alt="<%=image.woodItem %>">
          </div>
        <% }) %>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden" >Previous</span>
        <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>              
      </button>
    </div>
    <div id="product1" class="section-p1">
      <br>
      <br>
         <h2>The Woodwork Collection</h2>
       <div class="pro-container">
          <!-- ///////////product 4///////////// -->
           <% if(woodItems.length>1) {%>
          <% for( let index = 0; index < 4; index++ ) { %>

            <div class="pro">
              <a id="linkTag" href="/woodWork/<%=woodItems[index].woodItem %>">
                <img src="https://istude.s3.ap-south-1.amazonaws.com/legendaryShield/images/woodwork/<%=woodItems[index].imgLink%>" alt="<%=woodItems[index].woodItem %>">
                 <div class="des">
                  <span><%=woodItems[index].woodItem %></span>
                  <h5><%=woodItems[index].details %></h5>
                  <span>from K<%=woodItems[index].price %></span>
                  <!-- <h3>K15,500.00</h3> -->
              </div>
              <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
          </div>
          <% } %>
          <% } %>
         
        <div class="moreButton">
              <a href="/woodWork">
                 <span>more</span>
                 <i style="color: black; margin-left: 10px;" class="fa fa-chevron-right"></i>
              </a>
      </div>
    
       </div>
       

      </div>
    </section>

<hr>

    <!-- About us section -->


  <section class="about" id="aboutID">
      <div class="top">
          <h2>LEGENDARY SHIELD INNOVATIONS</h2>
          <p>Legendary shield innovations specializes in wood production and product retail. Our main objective is to produce the
              highest quality products and experiences for our customers. We guarantee outstanding workmanship and customer
              satisfaction at all times.</p>
      </div>
      <div class="middle">
      <hr>
     <div class="main-section">
  
  <legend><h3>Main Services</h3></legend>
  <ul>
    <li>Jewelry retail</li>
    <li>Dairies retail and customization</li>
    <li>Woodwork Design, production and Retail</li>
    <li>Wallets retail and customization</li>
  </ul>

</div>
      <hr>
          <p>
              We operate nationwide and in the process of expanding globally. Our headquarters are in Kitwe, Copperbelt Province. We
              hold ourselves responsible for managing customer expectations in delivering superior levels of online services in order
              to meet the demand country wide.
          </p>
          <p>
            <strong>Principal customer industries include</strong>: Private Residential,Gift Shops
          ,Jewelry Shops,Schools,Corporate Bodies
          </p>
      </div>
      <div class="bottom">
          <p>
              All Legendary Shield employees are trained and qualified to provide a service of the highest quality. Legendary Shield
              adheres to all Health & Safety regulations and employees are regularly trained to maintain their skills & guarantee
              their safety and the satisfaction of customers.
          </p>
      </div>    
  </section>

  <hr>
<!-- Latest section -->


  <section id="news-section">
   
    <div class="">
      <h2>News & Events</h2>
      <div id="carouselExampleControls" class=" carousel slide " data-bs-ride="carousel">
  
          <div class="news-container carousel-inner">
            <div class="news-item carousel-item active">
           <div class="image-container">
            <img src="https://picsum.photos/300" alt="News Image">
            <p class="news-date">Date: May 27, 2023</p>
            <h3 class="news-title ">News Title 1</h3>
           </div>
              <div class="news-content">
                <p class="news-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non feugiat felis. Fusce hendrerit ex in semper sollicitudin.</p>
              </div>
            </div>
            <div class="news-item carousel-item">
            <div class="image-container">
              <img src="https://picsum.photos/300" alt="News Image">
              <h3 class="news-title">News Title 2</h3>
              <p class="news-date">Date: May 26, 2023</p>
            
            </div>
              <div class="news-content">
                <p class="news-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non feugiat felis. Fusce hendrerit ex in semper sollicitudin.</p>
              </div>
            </div>
            <div class="news-item carousel-item">
              <div class="image-container">
                <img src="https://picsum.photos/300" alt="News Image">
              <h3 class="news-title">News Title 3</h3>
              <p class="news-date">Date: May 25, 2023</p>
              </div>
              <div class="news-content">
                <p class="news-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non feugiat felis. Fusce hendrerit ex in semper sollicitudin.</p>
              </div>
            </div>
          </div>
      
      </div>
    </div>
  
  </section>
  

  
     <script>
              let aboutID = document.getElementById('aboutID');
              let pro = document.querySelectorAll('.pro');
      const proObserver = new IntersectionObserver(entries => {
        entries.forEach(entry =>{
          entry.target.classList.toggle("show",entry.isIntersecting)
        })
      })
       pro.forEach(element=>{
          proObserver.observe(element)
       })
        function scrollToAbout(){
          
          aboutID.scrollIntoView({
                  block: "start",
                  behavior: "smooth"
              })
          }
     </script>